cabal.sandbox.config
TAGS
dist
/wikidata
/templates
./static/
gitit.log
my.conf
gitit-users
.cabal-sandbox
github.conf
/.stack-work/
/static/
/data/static/js/mathjax
/data/static/font-awesome
/data/static/js/simplemde.min.js
/data/static/css/simplemde.min.css

/result*