cabal.sandbox.config
TAGS
dist
wikidata
templates
./static/
gitit.log
my.conf
gitit-users
.cabal-sandbox
github.conf
gitit.nix

# dependencies that get fetched
# using fetchDependencies
data/static/js/simplemde.min.js
data/static/css/simplemde.min.css
data/static/js/mathjax
data/static/font-awesome
